{% macro modalEliminar() %}
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar</h4>
      </div>
      <div class="modal-body">
        <p>Estas seguro de eliminar este registro</p>
      </div>
      <div class="modal-footer">
        <button id="confirmar" type="button" class="btn btn-default" >confirmar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%  endmacro %}
