{% extends "plantillas/adminLayout.html" %}

{% block content %}
<div id="page-content-wrapper">
        <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            <div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>username</th>
      <th>email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>
</div>


        </div>
    </div>
{% endblock  %}
