{% extends 'plantillas/master.html' %}
{% block content %}
	<div id="aditional-material">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Materiales Adicionales al curso</h3>
				</div>
				<div class="col-md-8">
					<ul>
					<li >Video:Principales elementos de Diseño de modas
					-elementos y principios.</li>
					<li >Video tutorial: Estilos básicos, terminos y pronunciaciones.</li>
					<li >Clase de formas de cara para determinar el uso
					adecuado de accesorios.</li>
					<li >Video como vestir a los 5 tipos de cuerpo.</li>
					<li >Como balancear y proporcionar la roba.</li>
					<li >Como combinar(color,estampados,
					texturas y angulos)</li>
				</ul>	
				</div>
				<div class="col-md-4">
					<img  src="img/online-study.png" alt="online-study">
				</div>
			</div>
		</div>
	</div>  
{% endblock  %}