{% extends 'plantillas/busquedaPlantilla.html' %}
{% from 'plantillas/_macroForms.html' import render_fields %}
{% block content %}

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
<div class="input-group col-xs-9 form-horizontal" style="left: 17%">
  {{render_fields(form.busqueda, class='form-control')}}
  <div class="input-group-btn">
    <button class="btn" type="submit">
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </div>
</div>
</form>
<br>
<br>
<div class="well" style="position: absolute;width: 100%;top: 35%;height: 100%">
	<h1>Su busqueda no coincide con ningun libro en nuestra web</h1>
</div>
  <p></p>
</div>

{% endblock %}
