{% extends 'plantillas/master.html' %}
{% block content %}
<div class="CategoriasLibros">
	<h2>Categorias</h2>
	<a href="#">Novedades<span class="badge">25</span></a><br>
	<br>
	<a href="#">Drama<span class="badge">13</span></a><br>
	<br>
	<a href="#">Romance<span class="badge">20</span></a><br>
	<br>
	<a href="#">Comedia<span class="badge">30</span></a><br>
	<br>
	<a href="#">Infantiles<span class="badge">35</span></a><br>
	<br>
	<a href="#">Ciencia ficción<span class="badge">24</span></a><br>
	<br>
	<a href="#">Aventuras<span class="badge">25</span></a><br>
</div>
{% endblock %}