{% extends 'plantillas/busquedaPlantilla.html' %}
{% from 'plantillas/_macroForms.html' import render_fields %}
{% from 'plantillas/modals/_modalAgregadoCarrito.html' import AgregadoCarrito %}
{% block content %}

<form method="POST">
    <input type="hidden" name="csrf_token" id="idtoken" value="{{csrf_token()}}">
<div class="input-group col-xs-9 form-horizontal" style="left: 17%">
  {{render_fields(form.busqueda, class='form-control')}}
  <div class="input-group-btn">
    <button class="btn" type="submit">
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </div>
</div>
</form>
<br>
<br>
<div class="well" style="position: absolute;width: 100%;height: 107%">
    {% for libro in resultado %}
<div class="well padre" style="width: 85%;height: 58%" data-book={{libro.id}}>
  <img src="{{url_for('static', filename=libro.portada)}}" alt="name" style="width: 29%;height: 96%;float: left">
  <h3>&emsp;&emsp;&emsp;&emsp;{{libro.titulo}}</h3>
  <div style="float: right;padding: 2%"></div>
  <button type="submit" class="btn btn-lg btn-warning btnGuardar" style="float: right;top: 10%">Agregar al carrito</button>
  <h3 style="font-style: italic;">&emsp;&emsp;&emsp;&emsp;Autor: {{libro.autor}}</h3>
  <h3 style="font-style: italic;">&emsp;&emsp;&emsp;&emsp;${{libro.precio}}</h3>
  &emsp;<p style="text-align: center;"><button class="btn btn-info" style="width: 71%" data-toggle="collapse" data-target=#{{libro.id}}>Detalles</button></p>
  <div id={{libro.id}} class="collapse">
      <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Ventas: {{libro.vecesVendido}}&emsp;&emsp;Páginas: {{libro.numeroPaginas}}</h4>
      <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Libros disponibles: {{libro.existencia}}</h4>
      <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Genero: {{libro.genero}}&emsp;&emsp;Editorial: {{libro.editorial}}</h4>
      <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Fecha de publicación: {{libro.fechaPublicacion}}</h4>
      <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Descripcion: {{libro.descripcion}}</h4>
  </div>
  <p></p>
</div>
{{AgregadoCarrito()}}
{% endfor %}
{% endblock %}
