{% extends 'plantillas/carritoPlantilla.html' %}
{% from 'plantillas/_macroForms.html' import render_fields %}
{% from 'plantillas/modals/_modalCompraFinalizada.html' import finalizoCompra %}
	{% block content %}

	{% if compra_list %}
	<div>
			{% for libros in compra_list %}
<div>
			<div class="well" style="position: absolute;width: 100%;height: 107%">



<div class="well padre" style="width: 85%;height: 58%" data-book={{libros.id}}>
   <input type="hidden" name="csrf_token" id="idtoken" value="{{csrf_token()}}">
  <img src="{{url_for('static', filename=libros.portada)}}" alt="name" style="width: 29%;height: 96%;float: left">
  <h3>&emsp;&emsp;&emsp;&emsp;{{libros.titulo}}</h3>
  <div style="float: right;padding: 2%"></div>
  <button type="submit" class="btn btn-lg btn-warning btn eliminarLibro" style="float: right;top: 10%">Quitar</button>
  <h3>&emsp;&emsp;&emsp;&emsp; Precio: ${{libros.precio}}</h3>
  <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Descripcion: {{libros.descripcion}}</h4>




</div>
{% endfor %}
{% endif %}



	<div class="col-md-8 col-centered">
		<div class="text-right">
			<font>$</font><font style="top: 10%" size=6 id="total">{{totalPrice}}</font>
		</div>
	</div>
			
	<div class="text-center">
		<button class="btn btn-lg btn-warning btnCancelarCompra">Cancelar Compra</button>
		<button type="submit" class="btn btn-lg btn-warning btnFinalizar" >Finalizar compra</button>
	</div>
			
			
	{{finalizoCompra()}}


{% endblock %}
