{% extends 'plantillas/master.html' %}
{% block content %}
	<div id="our-services">	
		<div class="container-fluid">
			<div class="col-xs-12 col-md-6">	
			</div>
			<div class="col-xs-12 col-md-6 text-left">
			<h5>Certificación</h5>
			<h3>Personal International Shopper</h3>
			<p>Una vez complentado exitosamente el programa, recibirán en certificado
			como PS. avalado por PshopperSchool avalada por la AICI. y Mónica Bravo Bratsa exporta  y planea en el área de Pshopping en México.</p>
			
			<p>¿Por que estudiar con nosotros?</p>

			<p>Nuestro curso de personal shopper te dará las herramientas necesarias para
			comenzar tu propio negocio, para trabajar con cualquier tipo de cliente así como empresas de retail. Aprende a como usar la moda como una herrramienta 
			funcional para tus clientes a través de nuestro modulo de compras.</p>
			<p> El curso esta abierto a nuestros estudiantes 24 horas con una duración
			de  15 semanas. El alumno podra comenzar al momento de inscribirse y realizar
			su pago.
			</p>
			<ul class="col-md-4">
				<li>Creado por: Mónica Bravo</li>
				<li>Español/ingles</li>
			</ul>
			<ul class="col-md-8">
				<li>28.009 Estudiantes inscritos</li>
				<li>Fecha de la ultima actualización:8/2016</li>
			</ul>
			<span>MX$2,000</span>
			<button class="btn"> Agregar al carrito</button>
			</div>
		</div>
	</div>

	<!-- Temario-->
		<div id="temario-certificacion">
		<div class="container">
				<div class="row">
					<div class="text-center col-md-12">
						<h3>Temario</h3>
					</div>
						
					<div class="col-md-12">
						<ul>
							<div class="col-md-6">
							<li>Introducción del curso</li>
							<li>Evaluaciones</li>
							<li>Definición de un personal shopper</li>
							<li>Primera cita</li>
							<li>Reglas</li>
							<li>Know Know</li>
							<li>Presupuesto/Horarios</li>
							<li>Linea y preparación</li>
							<li>Revisión del cliente</li>
							<li>Básicos de guardarropa</li>
							<li>Básicos de compras</li>
							<li>Compras Online</li>
							<li>Obtener clientes</li>
							<li>oportunidades para tu carrera</li>	
							</div>
							<div class="col-md-6">
							<li>Formas y contratos</li>
							<li>Estragias de Marketing</li>
							<li>Necesidades(Porpuestas)</li>
							<li>Estrechando una relación con el cliente</li>
							<li>ABC's de las tiendas </li>
							<li>Análisis y determinación</li>
							<li>Como medir</li>
							<li>Como hacer Styling </li>
							<li>Proporcionar y balancear la figura a través de las lineas</li>
							<li>Video: Comprendo los favoritos del cliente</li>
							<li>Pre shopping</li>
							<li>Escoger dondes comprar</li>
							<li>Como comprar con un cliente</li>
							<li>Video Z: Tipos de cuerpo</li>

							</div>
							<div class="col-md-12">
							<li>Ejercicio iterativo de servicio al cliente</li>
							<li>Examen para P.S</li>    				
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>

	<!--Materiales adicionales al curso-->
	<div id="aditional-material">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Materiales Adicionales al curso</h3>
				</div>
				<div class="col-md-8">
					<ul>
						<li >
							<span>
							Video:Principales elementos de Diseño de modas-elementos y principios.
							</span>
						</li>
						<li >
							<span>
							Video tutorial: Estilos básicos, terminos y pronunciaciones.
							</span>
						</li>
						<li >
							<span>
							Clase de formas de cara para determinar el uso
							adecuado de accesorios.
							</span>
						</li>
						<li>
							<span>
							Video como vestir a los 5 tipos de cuerpo.	
							</span>
						</li>
						<li>
							<span>
							Como balancear y proporcionar la roba.
							</span>
						</li>
						<li>
						<span>
						Como combinar(color,estampados,
						texturas y angulos)
						</span>
						</li>
					</ul>	
				</div>
				<div class="col-md-4">
					<img  src="img/online-study.png" alt="online-study">
				</div>
			</div>
		</div>
	</div> 
{% endblock  %}