	{% extends 'plantillas/master.html' %}
	{% block content %}
	<div class="contact-area">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">				
					<form role="form">
						<div class="form-group">
						
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">
						
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						
						<textarea class="form-control" rows="9" placeholder="text area"></textarea>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>		
			</div>
		</div>
	</div>
	
	<div class="map">
		<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kuningan,+Jakarta+Capital+Region,+Indonesia&amp;aq=3&amp;oq=kuningan+&amp;sll=37.0625,-95.677068&amp;sspn=37.410045,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Kuningan&amp;t=m&amp;z=14&amp;ll=-6.238824,106.830177&amp;output=embed">
		</iframe>
	</div>
   {% endblock %}
