	{% extends 'plantillas/master2.html' %}
	{% block content %}

	<h3>.</h3>
	<h3 align=center> Deja tus datos y nosotros contactamos contigo.</h3>
	<div class="contact-area">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form role="form">
						<div class="form-group">

						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">

						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>

						<textarea class="form-control" rows="9" placeholder="text area"></textarea>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15040.02736036599!2d-96.9271511!3d19.5413199!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe46a8f06177f3a2!2sFacultad+de+Econom%C3%ADa%2C+Geograf%C3%ADa+y+Estad%C3%ADstica+de+la+Universidad+Veracruzana!5e0!3m2!1ses-419!2smx!4v1524234418442" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
   {% endblock %}
