{% extends 'plantillas/master.html' %}
{% block content %}
	<div id="intro-nosotros">
		<div class="container-fluid">
			<div class="col-md-6">
				<img class="img-responsive" src="img/slider/6.jpg" alt="">
			</div>
			<div class="col-md-5">
				<h3>Nosotros</h3>
				<p class="greySoftAndSlim">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus augue quis magna imperdiet hendrerit. Suspendisse velit odio, tincidunt sed odio id, pharetra hendrerit orci. Sed quis turpis nisl. Proin vel placerat eros. Integer ut urna mauris. Donec ullamcorper nisl non ullamcorper pretium. Nam condimentum non diam vel rhoncus. Nulla vehicula mattis augue, non laoreet tellus. Praesent lorem arcu, eleifend et cursus eu, iaculis vitae odio. Sed id lacus hendrerit, hendrerit massa vel, sagittis urna. In in tincidunt lorem, quis tincidunt dui. Sed semper ut lectus eget congue. Aenean dui quam, gravida id arcu venenatis, elementum interdum dolor. Sed in urna nec tellus laoreet euismod. Aliquam erat volutpat. Fusce ac nulla eros.
				</p>
			</div>
		</div>
	</div>

	<div id="galeria">
		<div class="container-fluid">
			<div class="col-md-12 text-center">
				<h3>Galeria</h3>
			</div>
		</div>
	</div>|
{% endblock  %}