{% extends 'plantillas/perfilPlantilla.html' %}
{% from 'plantillas/_macroForms.html' import render_fields %}
{% block content %}

<div class="container-fluid">
    <div class="col-md-4">
        <div class="portlet light profile-sidebar-portlet bordered">
            <div class="profile-userpic">
                <img src="{{url_for('static', filename='img/nav_bar_logo/user.png')}}" class="img-responsive" alt="">
              </div>
            <div class="profile-usertitle">
              <br></br>
                <div class="center-block" class="profile-usertitle-name"> Juanito Lopez </div>
                <div class="profile-usertitle-job">. Tienda </div>
            </div>
            <div class="profile-userbuttons" class="portfolio-desc align-center">
              <button type="button" class="btn btn-primary btn-sm">Editar</button>
            </div>
            <div class="profile-usermenu" >
                <ul class="nav">
                    <li class="active">
                        <a href="#"> <i class="icon-home"></i> Historial de compra </a>
                    </li>
                    <li>
                        <a href="#"> <i class="icon-settings"></i> Datos generales </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Historial de compra</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>monto</th>
                            <th>fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in compras %}
                        <tr class="active">
                            <th><th>
                            <th>{{compra.monto}}</th>
                            <th>{{compra.created_date_compra}}</th>
                            <th></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <button class="btn col-md-12" data-toggle="collapse" data-target="#BtnTarjeta" style="" >
            Mis informacion
            </button>            
        </div>
        <div id="BtnTarjeta" class="collapse">
            <div class="well">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div><h4>Tarjeta</h4></div>
                        <div>
                        {{render_fields(form.tarjeta, placeholder=" xxxx-xxxx-xxxx-xxxx", class="form-control"  )}}   
                        </div>       
                        <div>
                        {{render_fields(form.titular, placeholder="zzzzzz", class="form-control" )}}
                        </div>
                        <div>
                        {{render_fields(form.fecha, placeholder=" dd/mm/aaaa ", class="form-control" )}}
                        </div>
                        <div>
                        {{render_fields(form.cvc, placeholder=" 123 ", class="form-control" )}}
                        </div>
                        <div><h4>mis datos de envio</h4></div>
                        <div>
                        {{render_fields(form1.pais, placeholder="Nombre del pais", class="form-control" )}}
                        </div>
                        <div>
                        {{render_fields(form1.direccion, placeholder="Ejemplo: clavijo", class="form-control" )}}
                        </div>
                        <div >
                        {{render_fields(form1.cp, placeholder="ejemplo:#91000", class="form-control" )}}
                        </div>
                        <div>
                        {{render_fields(form1.estado, placeholder="ejemplo: veracruz", class="form-control" )}}
                        </div>
                        <div>
                        {{render_fields(form1.telefono, placeholder="(044)22 88 48 43 35", class="form-control" )}}
                        </div>
                 
                    <!-- Trigger the modal with a button -->
                        <div class="text-center" style="margin-top: 3%">
                            <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalTarjeta" >
                            Guardar cambios
                        </button>
                        </div>
                </form>   
            </div>
        </div>
        <div>
            
        </div>
        
    </div>
</div>

    <div id="myModalTarjeta" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Tarjeta</h4>
          </div>
          <div class="modal-body">
            <p>los datos de la tarjeta se guardaron con exito.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

     {% endblock %}
