{% extends 'plantillas/tiendaPlantilla.html' %}		
{% block content %}	
    
	<!-- section works -->
		<section id="section-works" class="section appear clearfix">
			<div class="container">						
				<div class="row">
					<nav id="filter" class="col-md-12 text-center">
						<ul>
						  <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
						  <li><a href="#"  class="btn-theme btn-small" data-filter=".Accesorios" >Accesorios</a></li>
						  <li><a href="#"  class="btn-theme btn-small" data-filter=".Musica">Musica</a></li>
						  <li ><a href="#" class="btn-theme btn-small" data-filter=".Videos">Videos</a></li>
						</ul>
					</nav>

					<div class="col-md-12">
						<div class="row">
							<div class="portfolio-items isotopeWrapper clearfix" id="3">							  
								<article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<div class="wow rotateInUpLeft" data-animation-delay="4.8s">
											<img src="{{url_for('static', filename='img/nav_bar_logo/shop.png')}}" alt="Brand">
										</div>
										
												
											</div>										   
										</div>
									</div>
								</article>

	
								<article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										
											<img src="img/portfolio/4.jpg" alt="" />
										</div>	
										
										</div>
										<div class="portfolio-desc align-center">
											<div class="folio-info">
												<h3><a href="#">Libro 1</a></h3>
												<h3><a href="#">Esto se acabo</a></h3>

												<h2><a href="#">Precio: $ 000</a></h2>
												<br></br>
												<img src="{{url_for('static', filename='img/portfolio/libro1.png')}}" class="fancybox" alt="Brand">
												
											 </div>	
											 <br></br>
											 
											 <button type="button" class="btn btn-success">Añadir a carrito</button>								   
										</div>
										
									</div>


								</article>

								

								<article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										
											<img src="img/portfolio/4.jpg" alt="" />
										</div>	
										
										</div>
										<div class="portfolio-desc align-center">
											<div class="folio-info">
												<h3><a href="#">Articulo 2</a></h3>
												<h3><a href="#">Analfabeto Emocional</a></h3>
												<h2><a href="#">Precio: $ 000</a></h2>
												<img src="{{url_for('static', filename='img/portfolio/libro2.jpg')}}" class="fancybox" alt="Brand">
												
											 </div>	
											 <button type="button" class="btn btn-success">Añadir a carrito</button>								   
										</div>

									</div>
								</article>


								<article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<div class="wow bounceIn">
											<img src="img/portfolio/5.jpg" alt="" />
										</div>
										<div class="portfolio-desc align-center">
											<div class="folio-info">
												<h5><a href="#">Project name 5</a></h5>
												<a href="img/portfolio/5.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
											 </div>										   
										</div>
									</div>
								</article>

								<article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<div class="wow rotateInDownRight">
											<img src="img/portfolio/6.jpg" alt="" />
										 </div>		
										<div class="portfolio-desc align-center">
											<div class="folio-info">
												<h5><a href="#">Project name 6</a></h5>
												<a href="img/portfolio/6.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
											 </div>										   
										</div>
									</div>
								</article>

								
							</div>                                       
						</div>                                     
					</div>
				</div>				
			</div>
		</section>
		
	<footer>	
		<div class="last-div">
			<div class="container">
				<div class="row">
					<ul class="social-network text-center">
					<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
					<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
					<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
					<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
					<li><a href="#" data-placement="top" title="Instagram"><i class="fa fa-instagram fa-1x"></i></a></li>
					</ul>
					<div class="copyright text-center">
						<p style="color: white;">©  2017 Pshopper School <span>Todos los derechos reservados</span></p>
					</div>
					<nav class="foot-nav">
					</nav>
				</div>
			</div>
			<a href="" class="scrollup"><i class="fa fa-chevron-up"></i></a>	
		</div>		
	</footer>
   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/functions.js"></script>
	<script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
  </body>
</html>
{% endblock %}	
